{% extends "picture/base.html" %}{% block content %}
{% load static %}
<div class="row">
    {% for picture in pictures %} {% if pictures %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columns">
        <div class="scale">
            <div class="opacity">
                <div class="view">
                    <a href="" class="btn-view">View Image</a>
                </div>
            </div>
            <img src="{{picture.url}}" alt="Image" class="img-fluid">
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
{% endblock %}